form {
    width: 50%;
    margin: 0 auto;
}
input {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
}
input[type="text"]:focus {
    outline: none;
}
input {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}
input:focus, input.focus {
    outline: none;
    border-bottom: solid 2px #969696;
}
button {
    display: inline-block;
    margin: 0 10px 0 0;
    padding 15px 45px;
    line-height: 1.8;
    font-size: 14px;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
}
button.flat {
    color: #fff;
    background-color: #6496c8;
    border: none;
}
button.flat:hover, button.flat.hover {
    background-color: #346392;
}
button.flat:active, button.flat.active {
    background-color: #27496d;
}
button.flat.signup {
    background-color: #b6b6b6;
}
