.form { background: #efefef; padding: 3px; position: fixed; bottom: 0; width: 100%; }
.form input { border: 0; padding: 10px; width: 100%; }
.form input:focus { outline: none;}
.form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
.links {position: absolute; bottom: 0; width:100%;}
.links a {display: inline-block; width:50%; padding:10px; text-decoration: none; text-align:center;}
.links a.login {background-color: #7eaeff; color: #fff;}
.links a.signup {background-color: #74f170; color: #fff;}
