html
    head
        title node-chat-rooms
        style
            include  ../node_modules/psychic-ui/dist/psychic.css
    body
        include templates/header.pug

        div(class="text-center text-black", style="width:100%;position: absolute;top: 50%;transform: translateY(-50%);")
            h3 node-chat-rooms
            div open chat rooms for the masses 🐒

        include templates/footer.pug
