html
    head
        title Register
        style
            include  ../node_modules/psychic.css/dist/psychic.min.css
        style.
            form {
                width: 50%;
                margin: 0 auto;
            }
    body
        include templates/header.pug

        div(class="text-center", style="width:100%;position: absolute;top: 25%;")
            h3(class="text-black") Register
            form(id="register" action="/register" method="POST")
                if(error)
                    div.alert.alert-danger=error
                input(id="username" name="username" placeholder="username" autocomplete="off")
                br
                input(id="email" name="email" placeholder="email" autocomplete="off")
                br
                input(id="password" type="password" name="password" placeholder="password" autocomplete="off")
                br
                button(id="btnLogin" class="btn btn-primary login" style="float:left;") Login
                button(id="btnSignup" class="btn btn-success" style="float:right;") Register
        br
        include templates/footer.pug

        script.
            document.getElementById('register').onkeydown = function(e) {
                e.preventDefault;
                if (e.keyCode == 13) {
                    document.getElementById("register").submit();
                    return false;
                } else {
                    return true;
                }
            }
            document.getElementById('btnLogin').onclick = function(e) {
                e.preventDefault();
                location.href = "/login";
            }
