div(class="header" style="width:100%;display:inline-block;background-color:#c1c1c1;padding:10px;top:0;margin-bottom:10px;")
    div(style="float:left;") #{user.username}
    a(href="/profile" style="float:right;") Profile
