html
    head
        title 404
        style
            include ./styles/app.css
        style
            include ./styles/404.css
    body
        div(class="error") Sorry this chat does not exist
