html
    head
        title Profile
        style
            include ./styles/app.css
    body
        include ./partials/header
        a(href="room/create") Create A Room
        ul
        each chat in chats
            li= chat.name
