html
    head
        title Login
        style
            include ./styles/login.css
    body
        form(id="createRoom" action="/room/create" method="POST")
            input(id="room" name="room" placeholder="room" autocomplete="off")
            br
            button(id="btnCreate" class="flat" style="float:right;") Create
        script.
            document.getElementById('createRoom').onkeydown = function(e) {
                e.preventDefault;
                if (e.keyCode == 13) {
                    document.getElementById("createRoom").submit();
                    return false;
                } else {
                    return true;
                }
            }
