html
    head
        title Rooms
        style
            include  ../node_modules/psychic-ui/psychic.css
    body
        div(class="navbar navbar-center")
            div(class="container")
                div(class="navbar-title")
                    span(class="text-black") 
                        a(href="/") Chatter

        div(class="grid")
            div.col-2-12
            div.col-8-12
                ul.list
                    for room in rooms
                        li.list-item=room
            div.col-2-12
            
        div(class="navbar navbar-center" style="bottom:0;position:absolute;")
            div(class="container text-center")
                div(class="text-black") Made with 🖕by&nbsp;
                    a(href="www.gabrielcsapo.com") @gabrielcsapo
