html
    head
        title Login
        style
            include  ../node_modules/psychic-ui/psychic.css
        style
            include ./styles/login.css
    body
    div(class="navbar navbar-center")
        div(class="container")
            div(class="navbar-title")
                span(class="text-black") 
                    a(href="/") Chatter

    div(class="text-center", style="width:100%;position: absolute;top: 50%;transform: translateY(-50%);")
        h3(class="text-black") Create a room
        form(id="createRoom" action="/room/create" method="POST")
            input(id="room" name="room" placeholder="room" autocomplete="off")
            br
            button(id="btnCreate" class="flat" style="float:right;") Create

    div(class="navbar navbar-center" style="bottom:0;position:absolute;")
        div(class="container text-center")
            div(class="text-black") Made with 🖕by&nbsp;
                a(href="www.gabrielcsapo.com") @gabrielcsapo
        script.
            document.getElementById('createRoom').onkeydown = function(e) {
                e.preventDefault;
                if (e.keyCode == 13) {
                    document.getElementById("createRoom").submit();
                    return false;
                } else {
                    return true;
                }
            }
